.hero-image {
  position: relative;
  background-image: url("../public/assets/fondo2.jpg");
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logoImage {
  max-height: 100%;
  width: 100%;
  border-radius: 4%;
}
