.hero-image {
  text-align: center;
  background-image: url("../public/assets/fondo2.jpg");
  background-color: #d2691e;
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
}

.elementsContainer {
  height: 100vh;
  background-color: #4cf0a9;
  overflow: auto;
}

.cardStyle {
  width: 60vw;
  height: 20rem;
  margin-top: 2%;
  margin-left: 40vh;
  margin-right: 40vh;
  border-radius: 5%;
}

.divCard {
  width: 100%;
  height: 100%;
  position: relative;
}

.divCard::before {
  content: "";
  background-image: url("../public/assets/fondo.jpg");
  background-size: cover;
  border-radius: 2%;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -100;
}

.cardTitle {
  margin-right: 30rem;
  font-family: fantasy;
}

.imageCard {
  width: 250px;
  height: 250px;
  padding-right: 30rem;
  border-radius: 4%;
}

.headerStyle {
  background: #4cf0a9;
  height: 250px;
  width: 30%;
  margin: auto;
  border-radius: 10%;
}

.subTitle1 {
  font-size: x-large;
  font-family: fantasy;
  height: 10%;
  width: 30%;
  margin-left: 25rem;
}

.subTitle2 {
  font-size: x-large;
  font-family: fantasy;
  height: 10%;
  width: 30%;
  margin-left: 40rem;
}
